.scrollArrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: var(--color-primary-pink);
}

.scrollArrow a {
  color: var(--color-primary-pink);
  font-size: 2rem;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }

  40% {
    transform: translate(-50%, -15px);
  }

  60% {
    transform: translate(-50%, -8px);
  }
}